anyio==4.9.0
args==0.1.0
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
clint==0.5.1
contourpy==1.3.2
cycler==0.12.1
fonttools==4.58.4
GeoAlchemy2==0.17.1
geopandas==1.1.0
greenlet==3.2.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
Jinja2==3.1.6
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.3
numpy==2.3.1
opencv-python==4.11.0.86
packaging==25.0
pandas==2.3.0
pillow==11.2.1
psycopg2-binary==2.9.10
pyogrio==0.11.0
pyparsing==3.2.3
pyproj==3.7.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
shapely==2.1.1
SICAR @ git+https://github.com/urbanogilson/SICAR@d897738ce5cd49b7f1641446d487752065916c54
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
